ErrorDocument 404 "<html><head><title>Error 404</title></head><body>Error del sistema 404</body></html>" 
ErrorDocument 500 "<html><head><title>Error 500</title></head><body>Error del sistema 500</body></html>" 
RewriteEngine On


RewriteRule ^(.*)$ xview.php?id=$1 [L,QSA]

<Files ".ht*">
deny from all
</Files>
