@CHARSET "UTF-8";
.rrhh-table{}
.rrhh-table .head{border:1px solid #dedede;}
.rrhh-table .head .row > div{background:#e0e0e0;background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);border:1px solid #ccc;}